.top_side{
    height: 50vh;
    background-color: #1E88E5;
  }
  
  .top_side_text{
    width: 50rem;
    float: right;
    margin-right: 20rem;
    text-align: end;
    text-justify: inter-word;
    padding-top: 11rem;
    color: white;
    font-size: 1.5rem;
  }
  
  .bottom_side{
    height: 50vh;
    background-color: #1565C0;
  }
  
  .bottom_side_text{
    width: 50rem;
    text-justify: auto;
    padding-top: 11rem;
    margin-left: 20rem;
    text-align: start;
    color: white;
    font-size: 1.5rem;
  }
  
  .box{
    height: 50vh;
    background: rgb(84,110,122);
    background: linear-gradient(180deg, rgba(84,110,122,1) 0%, rgba(96,125,139,1) 35%, rgba(120,144,156,1) 100%);
  }
  
  .box_bottom{
    height: 50vh;
    background: rgb(84,110,122);
    background: linear-gradient(0deg, rgba(84,110,122,1) 0%, rgba(96,125,139,1) 35%, rgba(120,144,156,1) 100%);
  }
  
  #my_profile_image{ 
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20rem;
    height: 20rem;
    border-radius: 50%;
  }